libs/
node_modules/
/_/

.DS_Store
.idea
.project
.svn
npm-debug.log
.tern-port

# bem
.bem/cache/
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemjson.js
!*bundles*/.bem/*
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*

*~
*\#
