.logo
{
    background: black url(./logo.svg) no-repeat;
    background-position: center;
    padding: 30px;
    min-width: 800px;
    height: 270px;
}

.logo__inner
{
    margin: 0 auto;
    max-width: 1280px;
    min-width: 800px;
    text-align: center;
}