.textarea.canvas-renderer__source
{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    max-width: 100%;
    height: 150px;
}
