.canvas-renderer
{
    &__get-image
    {
        background: #ffcc00 !important;
        width:100%;

        &.button_disabled
        {
            background: rgba(0,0,0,0.2) !important;
        }
    }
}
